:root {
  --primary: #ff6500;
  --secondary: #080d3f;
  --white: #ffffff;
  --bg: #eff2f5;

  --font-white: #ffffff;
  --font-black: #444;
}
body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--bg);
  color: var(--font-black);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #002244;
  padding-bottom: 20px;
  padding-top: 75px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 70px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
}

.header h2 {
  color: #ff5733;
  font-weight: 600;
}
.header h4:hover {
  color: #ff5733; /* Warna teks berubah saat dihover */
}
.content {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.section-title {
  /* color: #002244; */
  color: var(--font-black);
  font-weight: 700;
  padding: 10px 0;
}

.visi,
.misi {
  margin: 20px 0;

}
.visi p{
}
.misi ul {
  padding-left: 20px;

}
.misi li {
  margin-bottom: 10px;


}
ul li{

}

