/* Default font-size */
:root {
  --primary: #ff6500;
  --secondary: #080d3f;
  --white: #ffffff;
  --bg: #dee2e6;

  --font-white: #444;
  /* --font-black: #000000; */
}
html {
  color: var(--font-black);
}

@media (max-width: 1200px) {
  html {
  }
}
/* ini */
/* Warna navbar di desktop */
@media (min-width: 992px) {
 
}

/* Warna navbar di mobile */
@media (max-width: 991px) {
  
}

/* ini */

@media (max-width: 992px) {
  html {
  }
}

@media (max-width: 768px) {
  html {
  }
  .nav-color_hp {
    background-color: var(--white);
    transition: all 0.3s ease 0s;
  }


  .timeline {
    /* position: relative; */
    /* margin-left: 50px; */
    padding: 30px;
  }
  
  .timeline::before {
    left: 30px;
    /* background-color: #ff5733; */
    margin-left: -2px;
    
  }
  
  .timeline-item {
    position: relative;
    margin: 20px 0 0  30px;
    display: flex;
  }

  
  .timeline-item:nth-child(even) .timeline-content {
    order: 2; 
    margin-left: 0;
  }

  
  .timeline-item .timeline-icon {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ff5733;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transform: translate(-200%, 0);
  }
  .timeline-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px ;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 576px) {
  html {
  }
  .nav-color {
    background-color: var(--white);
    transition: all 0.3s ease 0s;
    color: var(--font-black);

  }
  

  /* #hero {
    height: 50vh;
    width: 100%;
  } */
  /* .img-hero {
    height: auto;
    width: 100%;
  } */


}

@media (max-width: 400px) {
  html {
  }
  /* .nav-color {
    background-color: var(--white);
    transition: all 0.3s ease 0s;
  }
  .nav-second-color {
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.1);
  } */
}
